@using (Html.BeginForm("Send", "Home", FormMethod.Post))
{
    <input type="hidden" value="@ViewBag.MessageId" name="Id" />
    <p>Input your Id: </p>
    @Html.TextBox("Id", "Your id")
    <p>Input your name:</p>
    @Html.TextBox("Name", "Your name")
    <input type="submit" value="Отправить" />

    @Html.Password("UserPassword", "val")
    @Html.RadioButton("color", "red")
    @Html.RadioButton("color", "blue")
    @Html.RadioButton("color", "green")
}